.boton_conclusion {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.box_media img {
    max-width: 100%;
}

.box_media .icon {
    width: 100px;
}

/********************************************************************************/
/* Actividad 1
/********************************************************************************/
#pag-previos .btn-continue:hover,
#pag-previos .btn-verify:hover {
    background-position: left bottom
}

#pag-previos .feedback-pane {
    text-align: center;
}

#pag-previos .respuesta {
    min-width: 250px;
    min-height: 40px;
    margin-bottom: -15px;
}

/*******************************************************************************/
/* Actividad 3.1
/********************************************************************************/

#arrastrar.jpit-activities-droppable {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

#arrastrar.jpit-activities-droppable .enunciado {
    display: flex;
    align-items: center;
}

#arrastrar.jpit-activities-droppable .enunciado .receptor {
    width: 210px;
    height: 50px;
    margin: 5px;
    padding: 0;
}

#arrastrar.jpit-activities-droppable .draggable {
    float: left;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    line-height: 20px;
}

#arrastrar.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    background-color: #7bcadd;
    border: none;
}

#arrastrar .opciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
}
/********************************************************************************/
/* Actividad 3.2
/********************************************************************************/
#pag-contenidointeractivo .vertical-menu .chalkboard_vertical_items .chalkboard_vertical_item {
    width: 180px;
}

#pag-contenidointeractivo .datatable td {
    width: 33%;
}

#pag-contenidointeractivo .jpit_activities_quiz_question_answers { height: 150px; overflow: auto; }
#pag-contenidointeractivo .jpit_activities_quiz_board { height: 220px; }

#pag-contenidointeractivo .jpit-activities-quiz .box_content {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 5px 10px 0 20px;
    min-height: 190px; 
}

#pag-contenidointeractivo .box_media img {
    max-width: 400px;
}

#pag-contenidointeractivo .jpit-activities-selection .ctrl-pagination li.layer {
    display: flex;
    flex-direction: column;
}