/********************************************************************************/
/* Genially
/********************************************************************************/
iframe.interactivo {
    border: none;
    width: 100%;
    height: calc(100vw * 56 / 100);
    max-height: 674px;
}
/********************************************************************************/
/* Actividad 1
/********************************************************************************/
#pag-exploremos .jpit-activities-quiz li {
    width: 25%;
}

#pag-exploremos .jpit-activities-quiz .box_media img {
    width: 100%;
}

#pag-exploremos .jpit_activities_quiz_question_statement {
    text-align: center;
    display: block ruby;
}

#pag-exploremos .jpit_activities_quiz_question_option_answer {
    cursor: pointer;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

#pag-exploremos .jpit-activities-quiz p {
    text-align: center;
}

#pag-exploremos .jpit_activities_quiz_question_option_answer label {
    width: 20px;
    margin: 0 auto;
    height: 25px;
}

/********************************************************************************/
/* Actividad 2
/********************************************************************************/
#pag-evaluemos .jpit-activities-quiz .box_content {
    max-width: 100%;
    margin: auto;
    background: #fff;
    padding: 15px 15px 40px;
} 

.jpit_activities_quiz_question_answers {
    display: flex;
    text-align: center;
    justify-content: center;
}

#pag-evaluemos .jpit_activities_quiz_question_statement {
    text-align: center;
}

#pag-evaluemos .jpit-activities-quiz .box_media img {
    max-width: 92px;
}

#pag-evaluemos .wrong img,
#pag-evaluemos .correct img {
    width: 80%;
}

#pag-evaluemos .jpit_activities_quiz_question_feedback_true, 
#pag-evaluemos .jpit_activities_quiz_question_feedback_false {
    width: 100%;
}

.jpit_activities_quiz_question_feedback_true img, 
.jpit_activities_quiz_question_feedback_false img {
    width: 80%;
}