nav.horizontal ul.menu > li {
	min-width: 125px;
}

/********************************************************************************/
/* ACTIVIDAD ANGULOS
/********************************************************************************/
#pag-preconceptos .box_media div img {
	max-width: 500px;
}
#pag-preconceptos .box_media .formula {
	width: 300px;
	margin: 5px;
}

#pag-preconceptos .jpit-activities-droppable {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#pag-preconceptos .sources,
#pag-preconceptos .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
}

#pag-preconceptos .contenedor .angulo {
	width: 200px;
	height: 160px;
	text-align: center;
	margin: 10px;
	padding: 0;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#pag-preconceptos .angulo .imagen img {
	width: 100%;
}

#pag-preconceptos .angulo .receptor {
	height: 30px;
	border: none;
	border-bottom: 3px solid #22b573;
	padding: 0;
}

#pag-preconceptos .sources .tipo {
	width: 200px;
	height: 30px;
	padding: 0;
	margin: 5px;
}

#pag-preconceptos .jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
	background-color: transparent;
    color: #003543;
    border: none;
}

/********************************************************************************/
/* ACTIVIDADES TRIANGULOS
/********************************************************************************/
#pag-preconceptos .sources,
#pag-preconceptos .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

#pag-preconceptos .contenedor .triangulo {
	width: 200px;
	height: 250px;
	text-align: center;
	margin: 10px;
	padding: 0;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#pag-preconceptos .triangulo .imagen img {
	width: 100%;
}

#pag-preconceptos .triangulo .receptor {
	height: 40px;
	border: none;
	border-bottom: 3px solid #22b573;
	padding: 0;
}

#pag-preconceptos .sources .tipo {
	width: 200px;
	height: 30px;
	padding: 0;
	margin: 5px;
}

#pag-preconceptos .jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
	background-color: transparent;
    color: #003543;
    border: none;
}

.jpit-activities-droppable .draggable.wrong, .jpit-activities-droppable .droppable.wrong {
	color: #D60C1B !important;
}

/********************************************************************************/
/* RAZONES TRIGONOMETRICAS
/********************************************************************************/
#pag-trigonometria .box_media img {
	max-width: 700px;
}

.box_media .leyenda {
	position: relative;
	width: 600px;
	height: 380px;
	background: url(../content/razones_fig2.png) no-repeat;
	background-size: 100%;
	margin: auto;
	text-align: left;
}

.box_media .leyenda ul { 
	position: absolute;
	top: 5px;
	right: 50px;
}

.box-text .box_media {
	width: 90%;
}

.box-text .box_media img {
	width: 100%;
}